{%- for interface in loopback_interfaces -%}
interface {{interface.interface_type}}{{interface.interface_id}}
  ip address {{interface.ip_address}} {{interface.subnet_mask}}
  description {{interface.description}}
{% endfor %}
